<!--181408093140 章嘉虹-->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
    <meta http-equiv="X-UA-Compatible" content="IE=7" />
    <title>用户中心</title>
    <meta content="" name=keywords />
    <meta content="" name=description />
    <link href="css/common.css" rel="stylesheet" type="text/css" />

</head>
<script type="text/javascript" src="../../static/js/common.js"></script>
<script language="JavaScript">
    function check11()
    {

        if (document.form1.name.value == "" )
        {
            alert("用户名不能为空!");
            document.form1.name.focus();
            return false;
        }
        if (document.form1.pwd.value == ""  )
        {
            alert("密码不能为空!");
            document.form1.pwd.focus();
            return false;
        }
        if (document.form1.qpwd.value == ""  )
        {
            alert("确认密码不能为空!");
            document.form1.qpwd.focus();
            return false;
        }
        if (document.form1.qpwd.value != document.form1.pwd.value  )
        {
            alert("两次密码不一致!");
            document.form1.qpwd.focus();
            return false;
        }
        if (document.form1.realname.value == ""  )
        {
            alert("真实姓名不能为空");
            document.form1.realname.focus();
            return false;
        }
        if (document.form1.age.value == ""  )
        {
            alert("年龄不能为空!");
            document.form1.age.focus();
            return false;
        }
        if (document.form1.card.value == ""  )
        {
            alert("身份证不能为空!");
            document.form1.card.focus();
            return false;
        }
        if (document.form1.address.value == ""  )
        {
            alert("家庭住址不能为空!");
            document.form1.address.focus();
            return false;
        }
        if (document.form1.phone.value == ""  )
        {
            alert("电话号码不能为空!");
            document.form1.phone.focus();
            return false;
        }
        if (document.form1.email.value == ""  )
        {
            alert("电子邮箱不能为空!");
            document.form1.email.focus();
            return false;
        }
        if (document.form1.code.value == ""  )
        {
            alert("邮政编码不能为空!");
            document.form1.code.focus();
            return false;
        }
    }
</script>


<body style='background:transparent'>
<table width="900" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
        <td align="left" valign="top">





            <html>
            <head>
                <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

                <link href=../../static/css/common.css" rel="stylesheet" type="text/css" />
                <script type="text/javascript" src="../../static/js/base.js"></script>
                <script type="text/javascript" src="../../static/js/common.js"></script>
                <script type="text/javascript" src="../../static/js/form.js"></script>
                <script type="text/javascript" src="../../static/js/blockui.js"></script>

            </head>
            <body style='background:transparent'>
            <script language="JavaScript">
                function checkSession(){
                    var session =
                    if(session==null){
                        return false
                    }
                    check11()
                }
            </script>


            <div id='contain' style='width:900px;background:rgb(255,255,255);margin:0px auto;padding:0px'>

                <div id='top' style='width:900px;height:108px;background:none transparent scroll repeat 0% 0%'>


                    <!-- 顶部菜单(一级) -->

                    <div id='pdv_3607' class='pdv_class'   style='width:395px;height:25px;top:0px;left:495px; z-index:4'>
                        <div id='spdv_3607' class='pdv_top' style='overflow:hidden;width:100%;height:100%'>
                            <div class="pdv_border" style="margin:0;padding:0;height:100%;border:0px  solid;background:;">

                                <div style="padding:0px">

                                    <link href="../../static/css/topmenu_bk.css" rel="stylesheet" type="text/css" />

                                    <div id="topmenu" >

                                        <a href="login.html" target="_self">会员登录</a>|
                                        <a href="reg.html" target="_self" >会员注册</a>|
                                        <a href="../UserLoginServlet?reqtype=logout" >注销退出</a>|
                                        <a href="carry.html" target="_self">配送说明</a>|
                                        <a href="our.html" target="_self">关于我们</a>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- 二级导航菜单 -->

                    <div id='pdv_3605' class='pdv_class'   style='width:898px;height:41px;top:65px;left:0px; z-index:6'>
                        <div id='spdv_3605' class='pdv_top' style='overflow:hidden;width:100%;height:100%'>
                            <div class="pdv_border" style="margin:0;padding:0;height:100%;border:0px  solid;background:;">
                                <div style="height:25px;margin:1px;display:none;background:;">
                                    <div style="float:left;margin-left:12px;line-height:25px;font-weight:bold;color:">

                                    </div>
                                    <div style="float:right;margin-right:10px;display:none">
                                        <a href="-1" style="line-height:25px;color:">更多</a>
                                    </div>
                                </div>
                                <div style="padding:0px">

                                    <link href="../../static/css/A.css" rel="stylesheet" type="text/css" />
                                    <script type="text/javascript" src="../../static/js/channelmenu_dc.js"></script>

                                    <div id="menu">
                                        <div class="mainmenuleft"></div><div class="mainmenuright"></div>

                                        <div id="mainmenu">
                                            <ul>

                                                <li ><a href="allMenus.html" target="_self" >首页</a></li>

                                                <li ><a href="shoppingcar.html" target="_self">我的餐车</a></li>

                                                <li ><a href="order.html" target="_self">我的订单</a></li>
                                                <li ><a href="center.html" target="_self" onclick="checkSession()">用户中心</a></li>

                                                <li ><a href="carry.html" target="_self">配送说明</a></li>

                                                <li ><a href="our.html" target="_self">关于我们</a></li>

                                                <li ><a href="../UserLoginServlet?reqtype=logout" >注销退出</a></li>

                                            </ul></div>

                                        <div id="smenu">
                                            <div class="smenuleft"></div><div class="smenuright"></div>
                                            <ul>

                                            </ul>

                                            <ul>
                                            </ul>

                                            <ul>
                                            </ul>

                                            <ul>
                                            </ul>

                                            <ul>
                                            </ul>

                                            <ul>
                                            </ul>

                                            <ul>
                                            </ul>

                                        </div>
                                    </div>
                                    <script>showMenu(0);

                                    </script>


                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- 网站标志 -->
                    <div id='pdv_3608' class='pdv_class'  title='' style='width:208px; height:100px; top:-22px; left:0px; z-index:9'>
                        <div id='spdv_3608' class='pdv_top' style='overflow:hidden;width:100%;height:100%'>
                            <div class="pdv_border" style="margin:0;padding:0;height:100%;border:0px  solid;background:;">

                                <div style="padding:0px">
                                    <img src="../../static/img/1257477260.gif" alt="" width="100%" border="0"  />
                                </div>


                            </div>
                        </div>
                    </div>

                    <!-- 登录后欢迎界面 -->
                    <div id='pdv_3699' class='pdv_class'  title='' style='width:300px; height:40; top:-120px; left:600px; z-index:10'>
                        <div id='spdv_3608' class='pdv_top' style='overflow:hidden;width:100%;height:100%'>
                            <div class="pdv_border" style="margin:0;padding:0;height:100%;border:0px  solid;background:;">
                                <div style="height:25px;margin:1px;display:none;background:;">
                                    <div style="float:left;margin-left:12px;line-height:25px;font-weight:bold;color:"></div>
                                    <div style="float:right;margin-right:10px;display:none"> <a href="-1" style="line-height:25px;color:">更多</a> </div>
                                </div>
                                <div style="padding:0px;font:bold 13px/43px 'Microsoft YaHei','SimSun',Arial,Sans-Serif;color:#feab43;">




                                </div>


                            </div>
                        </div>
                    </div>


                </div>
            </div>
            </div>
            </div>
            </body>
            </html>


        </td>
    </tr>
    <tr >
        <td height="20"></td>

    </tr>

    <tr>
        <td align="center" valign="center" height="450">

            <form action="/users/insert" name="form1" method="post" onSubmit="return check11()">

                <div align="center"><br>
                    <table border="1" cellspacing="0" bordercolorlight="#C0C0C0" bordercolordark="#C0C0C0" width="700">
                        <tr>
                            <td colspan="3" align="center" bordercolorlight="#C0C0C0" bordercolordark="#C0C0C0" height="25">
                                <font color="#666666">请填写用户信息(带<font color="red">*</font>为必填项)</font>
                            </td>
                        </tr>
                        <tr>
                            <td bordercolorlight="#C0C0C0" bordercolordark="#C0C0C0" height="25" align="right">
                                <font color="#996633">用 户 名：</font>
                            </td>
                            <td bordercolorlight="#C0C0C0" bordercolordark="#C0C0C0" height="25" align="left">
                                <input class="input7" type="text" name="name"/>
                            </td>
                            <td bordercolorlight="#C0C0C0" bordercolordark="#C0C0C0" height="25" align="left" >
                                <font color="red">&nbsp;* </font>您用来登录的用户名
                            </td>
                        </tr>
                        <tr>
                            <td bordercolorlight="#C0C0C0" bordercolordark="#C0C0C0" height="25" align="right">
                                <font color="#996633">密&nbsp;&nbsp; &nbsp;码：</font>
                            </td>
                            <td bordercolorlight="#C0C0C0" bordercolordark="#C0C0C0" height="25" align="left">
                                <input class="input7" type="pwd" name="pwd"/>
                            </td>
                            <td bordercolorlight="#C0C0C0" bordercolordark="#C0C0C0" height="25" align="left">
                                <font color="red">&nbsp;* </font>长度必须大于5个小于16个字符，只能为英语字、数字
                            </td>
                        </tr>
                        <tr>
                            <td bordercolorlight="#C0C0C0" bordercolordark="#C0C0C0" height="25" align="right">
                                <font color="#996633">确认密码：</font>
                            </td>
                            <td bordercolorlight="#C0C0C0" bordercolordark="#C0C0C0" height="25" align="left">
                                <input class="input7" type="password" name="qpwd"/>
                            </td>
                            <td bordercolorlight="#C0C0C0" bordercolordark="#C0C0C0" height="25" align="left">
                                <font color="red">&nbsp;* </font>请将输入的密码再次输入
                            </td>
                        </tr>
                        <tr>
                            <td bordercolorlight="#C0C0C0" bordercolordark="#C0C0C0" height="25" align="right">
                                <font color="#996633">真实姓名：</font>
                            </td>
                            <td bordercolorlight="#C0C0C0" bordercolordark="#C0C0C0" height="25" align="left">
                                <input class="input7" type="text" name="realname"/>
                            </td>
                            <td bordercolorlight="#C0C0C0" bordercolordark="#C0C0C0" height="25" align="left">
                                <font color="red">&nbsp;* </font>填写您的真实的姓名
                            </td>
                        </tr>
                        <tr>
                            <td bordercolorlight="#C0C0C0" bordercolordark="#C0C0C0" height="25" align="right">
                                <font color="#996633">性&nbsp; &nbsp;&nbsp;别：</font>
                            </td>
                            <td  bordercolorlight="#C0C0C0" bordercolordark="#C0C0C0" height="25" align="left">
                                <input type="radio" name="sex" checked value="男">
                                男&nbsp;&nbsp;&nbsp;&nbsp;
                                <input type="radio" name="sex" value="女">
                                女
                            </td>
                            <td bordercolorlight="#C0C0C0" bordercolordark="#C0C0C0" height="25" align="left">
                                <font color="red">&nbsp;* </font>请填写您的真实信息
                            </td>
                        </tr>
                        <tr>
                            <td bordercolorlight="#C0C0C0" bordercolordark="#C0C0C0" height="25" align="right">
                                <font color="#996633">年&nbsp;&nbsp; &nbsp;龄：</font>
                            </td>
                            <td bordercolorlight="#C0C0C0" bordercolordark="#C0C0C0" height="25" align="left">
                                <input class="input7" type="text" name="age"/>
                            </td>
                            <td bordercolorlight="#C0C0C0" bordercolordark="#C0C0C0" height="25" align="left">
                                <font color="red">&nbsp;* </font>请输入您的真实年龄
                            </td>
                        </tr>
                        <tr>
                            <td bordercolorlight="#C0C0C0" bordercolordark="#C0C0C0" height="25" align="right">
                                <font color="#996633">身份证号：</font>
                            </td>
                            <td bordercolorlight="#C0C0C0" bordercolordark="#C0C0C0" height="25" align="left">
                                <input class="input7" type="text" name="card"/>
                            </td>
                            <td bordercolorlight="#C0C0C0" bordercolordark="#C0C0C0" height="25" align="left">
                                <font color="red">&nbsp;* </font>请填写您的真实信息
                            </td>
                        </tr>
                        <tr>
                            <td bordercolorlight="#C0C0C0" bordercolordark="#C0C0C0" height="25" align="right">
                                <font color="#996633">家庭住址：</font>
                            </td>
                            <td bordercolorlight="#C0C0C0" bordercolordark="#C0C0C0" height="25" align="left">
                                <input class="input7" type="text" name="address"/>
                            </td>
                            <td bordercolorlight="#C0C0C0" bordercolordark="#C0C0C0" height="25" align="left">
                                <font color="red">&nbsp;* </font>请填写您的真实信息
                            </td>
                        </tr>
                        <tr>
                            <td bordercolorlight="#C0C0C0" bordercolordark="#C0C0C0" height="25" align="right">
                                <font color="#996633">电话号码：</font>
                            </td>
                            <td bordercolorlight="#C0C0C0" bordercolordark="#C0C0C0" height="25" align="left">
                                <input class="input7" type="text" name="phone"/>
                            </td>
                            <td bordercolorlight="#C0C0C0" bordercolordark="#C0C0C0" height="25" align="left">
                                <font color="red">&nbsp;* </font>请填写您的真实信息(格式为02411111111或13911111111) </td>
                        </tr>
                        <tr>
                            <td bordercolorlight="#C0C0C0" bordercolordark="#C0C0C0" height="25" align="right">
                                <font color="#996633">电子邮箱：</font>
                            </td>
                            <td bordercolorlight="#C0C0C0" bordercolordark="#C0C0C0" height="25" align="left">
                                <input class="input7" type="text" name="email"/>
                            </td>
                            <td bordercolorlight="#C0C0C0" bordercolordark="#C0C0C0" height="25" align="left">
                                <font color="red">&nbsp;* </font>请填写您有效的邮件地址，以便于我们为您提供有效的服务。
                            </td>
                        </tr>
                        <tr>
                            <td bordercolorlight="#C0C0C0" bordercolordark="#C0C0C0" height="25" align="right">
                                <font color="#996633">邮政编码：</font>
                            </td>
                            <td bordercolorlight="#C0C0C0" bordercolordark="#C0C0C0" height="25" align="left">
                                <input class="input7" type="text" name="code"/>
                            </td>
                            <td bordercolorlight="#C0C0C0" bordercolordark="#C0C0C0" height="25" align="left">
                                <font color="red">&nbsp;* </font>请填写您的真实信息(格式为111111)</td>
                        </tr>
                        <tr>
                            <td colspan="3" align="center" bordercolorlight="#C0C0C0" bordercolordark="#C0C0C0" height="25">
                                <input type="submit" value="修改" />
                            </td>
                        </tr>

                    </table>
                </div>
            </form>



        </td>
    </tr>
    <tr>
        <td height="10">&nbsp;</td>
    </tr>
    <tr>
        <td height="50" align="center" valign="middle">&nbsp;




            <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
            <html>
            <head>
                <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
                <meta content="" name=keywords />
                <meta content="" name=description />
                <link href="../../static/css/common.css" rel="stylesheet" type="text/css" />

            </head>
            <body style='background:transparent'>

            <!-- 底部信息编辑区 -->

            <link href="../../static/css/A.css" rel="stylesheet" type="text/css" />
            <div id="bottommenu">

                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td align="center" valign="top">
                            <a href="our.html" target="_self">关于我们</a>|
                            <a href="carry.html" target="_self">配送说明</a>|

                        </td>
                    </tr>
                    <tr>
                        <td align="center" valign="top">
                            <span > Copyright(C)2021-2022</span></td>
                    </tr>
                </table>
            </div>


            </body>
            </html>

        </td>
    </tr>

</table>
</body>
</html>
