<!--1814080903141 王泽敏-->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html xmlns:float="http://www.w3.org/1999/xhtml" xmlns:margin-right="http://www.w3.org/1999/xhtml"
      xmlns:display="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=7" />
    <title>公告通知</title>
    <meta content="" name=keywords />
    <meta content="" name=description />
    <link href="../../static/css/common.css" rel="stylesheet" type="text/css" />

</head>
<script type="text/javascript" src="../../static/js/common.js"></script>
<body style='background:transparent'>
<table width="900" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
        <td align="left" valign="top">
            <html>
            <head>
                <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

                <link href=../../static/css/common.css" rel="stylesheet" type="text/css" />
                <script type="text/javascript" src="../../static/js/base.js"></script>
                <script type="text/javascript" src="../../static/js/common.js"></script>
                <script type="text/javascript" src="../../static/js/form.js"></script>
                <script type="text/javascript" src="../../static/js/blockui.js"></script>

            </head>
            <body style='background:transparent'>
            <script language="JavaScript">
                function checkSession(){
                    // var session =
                    if(session==null){
                        return false
                    }
                    check11()
                }
            </script>


            <div id='contain' style='width:900px;background:rgb(255,255,255);margin:0px auto;padding:0px'>

                <div id='top' style='width:900px;height:108px;background:none transparent scroll repeat 0% 0%'>


                    <!-- 顶部菜单(一级) -->

                    <div id='pdv_3607' class='pdv_class'   style='width:395px;height:25px;top:0px;left:495px; z-index:4'>
                        <div id='spdv_3607' class='pdv_top' style='overflow:hidden;width:100%;height:100%'>
                            <div class="pdv_border" style="margin:0;padding:0;height:100%;border:0px  solid;">

                                <div style="padding:0px">

                                    <link href="../../static/css/topmenu_bk.css" rel="stylesheet" type="text/css" />

                                    <div id="topmenu" >

                                        <a href="login.html" target="_self">会员登录</a>|
                                        <a href="reg.html" target="_self" >会员注册</a>|
                                        <a href="../UserLoginServlet?reqtype=logout" >注销退出</a>|
                                        <a href="carry.html" target="_self">配送说明</a>|
                                        <a href="our.html" target="_self">关于我们</a>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- 二级导航菜单 -->

                    <div id='pdv_3605' class='pdv_class'   style='width:898px;height:41px;top:65px;left:0px; z-index:6'>
                        <div id='spdv_3605' class='pdv_top' style='overflow:hidden;width:100%;height:100%'>
                            <div class="pdv_border" style="margin:0;padding:0;height:100%;border:0px  solid;">
                                <div style="height:25px;margin:1px;display:none;">
                                    <div style="float:left;margin-left:12px;line-height:25px;font-weight:bold;">

                                    </div>
                                    <div style="float:right;margin-right:10px;display:none">
                                        <a href="-1" style="line-height:25px;">更多</a>
                                    </div>
                                </div>
                                <div style="padding:0px">

                                    <link href="../../static/css/A.css" rel="stylesheet" type="text/css" />
                                    <script type="text/javascript" src="../../static/js/channelmenu_dc.js"></script>

                                    <div id="menu">
                                        <div class="mainmenuleft"></div><div class="mainmenuright"></div>

                                        <div id="mainmenu">
                                            <ul>

                                                <li ><a href="allMenus.html" target="_self" >首页</a></li>

                                                <li ><a href="shoppingcar.html" target="_self">我的餐车</a></li>

                                                <li ><a href="order.html" target="_self">我的订单</a></li>
                                                <li ><a href="center.html" target="_self" onclick="checkSession()">用户中心</a></li>

                                                <li ><a href="carry.html" target="_self">配送说明</a></li>

                                                <li ><a href="our.html" target="_self">关于我们</a></li>

                                                <li ><a href="../UserLoginServlet?reqtype=logout" >注销退出</a></li>

                                            </ul></div>

                                        <div id="smenu">
                                            <div class="smenuleft"></div><div class="smenuright"></div>
                                            <ul>

                                            </ul>

                                            <ul>
                                            </ul>

                                            <ul>
                                            </ul>

                                            <ul>
                                            </ul>

                                            <ul>
                                            </ul>

                                            <ul>
                                            </ul>

                                            <ul>
                                            </ul>

                                        </div>
                                    </div>
                                    <script>showMenu(0);

                                    </script>


                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- 网站标志 -->
                    <div id='pdv_3608' class='pdv_class'  title='' style='width:208px; height:100px; top:-22px; left:0px; z-index:9'>
                        <div id='spdv_3608' class='pdv_top' style='overflow:hidden;width:100%;height:100%'>
                            <div class="pdv_border" style="margin:0;padding:0;height:100%;border:0px  solid;">

                                <div style="padding:0px">
                                    <img src="../../static/img/1257477260.gif" alt="" width="100%" border="0"  />
                                </div>


                            </div>
                        </div>
                    </div>

                    <!-- 登录后欢迎界面 -->
                    <div id='pdv_3699' class='pdv_class'  title='' style='width:300px;height:40px; top:-120px; left:600px; z-index:10'>
 <!--                        <div id='spdv_3608' class='pdv_top' style='overflow:hidden;width:100%;height:100%'>-->
                        <div class='pdv_top' style='overflow:hidden;width:100%;height:100%'>
                            <div class="pdv_border" style="margin:0;padding:0;height:100%;border:0px  solid;">
                                <div style="height:25px;margin:1px;display:none;">
                                    <div style="float:left;margin-left:12px;line-height:25px;font-weight:bold;"></div>
                                    <div style="float:right;margin-right:10px;display:none"> <a href="-1" style="line-height:25px;">更多</a> </div>
                                </div>
                                <div style="padding:0px;font:bold 13px/43px 'Microsoft YaHei','SimSun',Arial,Sans-Serif;color:#feab43;">




                                </div>


                            </div>
                        </div>
                    </div>


                </div>
            </div>
            </div>
            </div>
            </body>
            </html>


        </td>
    </tr>
    <tr >
        <td height="50"></td>

    </tr>

    <tr>
        <td align="center" valign="top" height="400">

            <table border="0" cellspacing="0"  width="100%">

                <tr>
                    <td  align="center" vlign="top"  >
                        <strong><span style="font-family: Helvetica, sans-serif;font-size: 20px;">新增菜单《糖醋排骨》</span></strong>
                        <br>
                        <span style=" font-size: 10px;">2021-02-28 13:49:40</span>
                    </td>
                </tr>
                <tr>
                    <td  align="left" vlign="top" >

                        <span style=" font-size: 14px;"><br>&nbsp;&nbsp;&nbsp;&nbsp;糖醋排骨超级好吃。再挑食的小朋友都无法拒绝酸甜的口味，吃光排骨，再用糖醋汁拌米饭，今天的饭量见长。 </span><br><br>
                    </td>
                </tr>
                <tr>
                    <td  align="center"  >
                        <a href="allMenus.html" target="_self">
			 <span style="font-family: Helvetica, sans-serif;font-size: 16px;">
			     返回
			 </span></a>
                    </td>
                </tr>
            </table>





        </td>
    </tr>
    <tr>
        <td height="10">&nbsp;</td>
    </tr>
    <tr>
        <td height="50" align="center" valign="middle">&nbsp;




            <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
            <html>
            <head>
                <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
                <meta content="" name=keywords />
                <meta content="" name=description />
                <link href="../../static/css/common.css" rel="stylesheet" type="text/css" />

            </head>
            <body style='background:transparent'>

            <!-- 底部信息编辑区 -->

            <link href="../../static/css/A.css" rel="stylesheet" type="text/css" />
            <div id="bottommenu">

                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td align="center" valign="top">
                            <a href="our.html" target="_self">关于我们</a>|
                            <a href="carry.html" target="_self">配送说明</a>|

                        </td>
                    </tr>
                    <tr>
                        <td align="center" valign="top">
                            <span > Copyright(C)2021-2022</span></td>
                    </tr>
                </table>
            </div>


            </body>
            </html>

        </td>
    </tr>

</table>



</body>
</html>
